* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fundo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.select {
    width: 50%;
    min-width: 50%;
    z-index: 1;
    margin-top: 0;
    align-items: center;
}

select {
    background-color: #c3d3dc;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    border: 2px solid #c3d3dc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    min-width: 60%;
}

.container-voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 5%;
}

.button {
    justify-content: center;
    display: inline-block;
    padding: 15px 80px;
    background-color: transparent;
    color: #0d3e70;
    border: 2px solid #0d3e70;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #004080;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quadrado {
    width: 50%;
    height: auto;
    font-size: 12px;
    background-color: #eceff0;
    color: #2b2828;
    padding: 5px;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: #0d3e70;
    z-index: 10;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background-color: #0d3e70;
    font-size: 25px;
    color: #f2f2f2;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 90;
}

.navbar img {
    height: 40px;
    margin-left: 20px;
    margin-right: 0;
}

.navbar-title {
    color: #f2f2f2;
    flex-grow: 1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 39px;
    margin-top: 34px;
    margin-left: 4px;
    margin-right: 32px;
    margin-bottom: 1.7%;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.logout-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 101;
}

.logout-btn img {
    width: 100%;
    height: auto;
}

.nav-list {
    border-radius: 8px;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    background: #dedfe0;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    pointer-events: none;
    list-style: none;
    text-align: center;
    padding: 10px;
}

.nav-list li:hover {
    background-color: #003366;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px;
}

.nav-active .nav-list {
    transform: translateX(0);
    pointer-events: all;
}

.nav-active .nav-list a {
    opacity: 1;
}

.nav-active .nav-list li {
    animation: fadeIn 0.5s forwards;
    padding: 10px;
}

.nav-active .nav-list li:nth-child(1) {
    animation-delay: 0.1s;
}

.nav-active .nav-list li:nth-child(2) {
    animation-delay: 0.2s;
}

.nav-active .nav-list li:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.logomenu {
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    z-index: 1;
    position: relative;
    margin-right: 50px;
}

.logomenu::before,
.logomenu::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav-active .logomenu {
    position: fixed;
    top: 26px;
    right: 1px;
    border-top-color: transparent;
}

.nav-active .logomenu::before {
    transform: rotate(135deg);
}

.nav-active .logomenu::after {
    transform: rotate(-135deg);
    top: -7px;
}

.sair {
    background-color: #003366;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.tabela {
    text-align: left;
    width: 80%;
    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 2%;
    margin-bottom: 5%;
}

.tabela th,
.tabela td {
    border: 1px solid #ddd;
    padding: 5px 10px;
    text-align: left;
}

.tabela th {
    background-color: #b0b0b1;
    color: #000000;
}

.tabela td {
    background-color: #f4f4f4;
    color: black;
}

#tabela-container {
    margin: auto;
    padding: 4px;
    width: 100%;
}

label {
    font-size: 8px;
    width: 100%;
    position: relative;
    z-index: 2;
}

.tabela-titulo {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 3%;
}

h1 {
    font-size: 180%;
}

h6,
td,
th {
    font-size: 15px;
}

h3 {
    font-size: 23px;
}

h2 {
    font-size: 30px;
}

.imagem-historico {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente, se necessário */
    width: 100%; /* Garante que ocupe toda a largura da tela */
    padding: 20px 0; /* Espacamento superior e inferior */
}

.imagem-historico img {
    max-width: 100%; /* Faz com que a imagem se ajuste ao tamanho da tela */
    height: auto; /* Mantém a proporção original da imagem */
}

